<h1>Authors</h1>
<% @authors.each do |author| %>
  <div id="author-<%= author.id %>" >
  <p>
    <strong>ID: <%= author.id %> <%= link_to "#{author.name}", "/authors/#{author.id}" %></strong>
    <%= author.created_at %>
    <%= link_to "Update Author", "/authors/#{author.id}/edit" %> &nbsp &nbsp
    <%= link_to "Delete Author", "/authors/#{author.id}", method: :delete %>
  </p>
  </div>
<% end %>
<%= link_to "New Author", "/authors/new" %>
