<h1><%= @author.name %></h1>
<p>ID: <%= @author.id %> </p>
<p>Still active? <%= @author.still_active %> </p>
<p>Age: <%= @author.age %> </p>
<p>Count of Books: <%= @author.books_count %> </p>
<p>Created at: <%= @author.created_at %> </p>
<p>Updated at: <%= @author.updated_at %> </p>
<p><%= link_to "Books By #{@author.name}", "/authors/#{@author.id}/books" %></p>
<p><%= link_to "Update Author", "/authors/#{@author.id}/edit" %></p>
<p><%= link_to "Delete Author", "/authors/#{@author.id}", method: :delete %></p>
