<h1><%= @book.name %></h1>
<p>Book ID: <%= @book.id %></p>
<p>Title: <%= @book.name %></p>
<p>Has Foreword?: <%= @book.has_foreword %></p>
<p>Pages: <%= @book.pages %></p>
<p>Created at: <%= @book.created_at %></p>
<p>Updated at: <%= @book.updated_at %></p>
<p>Author ID: <%= @book.author_id %></p>
<%= link_to "Update Book", "/books/#{@book.id}/edit" %>
